let html = '<!DOCTYPE html>';
    html += "<h1>Register User</h1>";
    html += '<form action = "/user/new" method = "POST" >';
    html += '<label for = "nombre"> Nombre usuario</label>';
    html += '<input type = "text" id="nombre" name="nombre">';
    html += "<br><br>";
    html += '<input type = "submit" id="enviar" name="enviar" value="Registrar">';
    html += '</form>';